# Example .env file for local development
# Copy to `.env` and fill in your real credentials. Do NOT commit your real .env.

# Wi-Fi credentials
SSID=
PASSWORD=
COUNTRY_INFO=

# MQTT information
MQTT_BROKER_HOST=""
MQTT_BROKER_PORT=1883
MQTT_BROKER_USERNAME="mqttuser"
MQTT_BROKER_PASSWORD=""

# MQTT topics
TOPIC_GROUND_TEMPERATURE=garden/ground_temperature
